<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="100;url=http://localhost:5000/"/>
    <link rel="stylesheet" type="text/css" href="static/styles/index.css" />
    <script src="static/scripts/index.js"></script>
    <title>Image Crawler</title>
</head>
<body>
<form>
</form>
<div>
        <h1>Image Crawler</h1>
        <div id="divinput">
            <input id="txturl" class="txturl" type="text" placeholder="http://www.example.com/"></input>
            <input id="btnsubmit" class="btnsubmit" type="button" title="Download images" value="Go!"></input>
        </div>
        <div id="divImageContent">

        </div>
</div>
</body>
</html>